/*************************REUSE******************************/
/***********************************************************/
@font-face {
  font-family: "Helvetica";
  src: url("../font/helvetica-normal.ttf");
  font-weight: normal; }
body, p, h2 {
  margin: 0; }

h2, p {
  font-family: "Helvetica";
  color: white; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
.container {
  width: 1000px;
  margin: 0 auto; }

.text__area__title {
  font-size: 27px; }

.first__area__paragraph {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 1px; }

.second__area__paragraph {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px; }

/*************************BUTTON******************************/
/************************************************************/
.more__info {
  width: 270px;
  height: 50px;
  display: block;
  margin: 43px 0 0 150px;
  text-align: center;
  background-color: transparent;
  border: 3px solid white;
  border-radius: 15px;
  color: white; }
  .more__info i {
    background: url("../images/arrow_white.png") center center no-repeat;
    vertical-align: middle;
    background-size: contain;
    display: inline-block;
    width: 13px;
    margin: 0 0 5px 20px;
    height: 13px; }
  .more__info span {
    font-size: 20px;
    line-height: 30px; }

.btn__blue:hover {
  background-color: white;
  color: #00c0ff; }

.btn__blue:hover i {
  background: url("../images/arrow_blue.png") center center no-repeat;
  width: 13px;
  height: 13px;
  background-size: contain; }

.btn__red:hover {
  background-color: white;
  color: #d72d2e; }

.more__info:active {
  background-color: white;
  border: none;
  -webkit-box-shadow: inset 0px 2px 7px 1px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: inset 0px 2px 7px 1px rgba(0, 0, 0, 0.62);
  box-shadow: inset 0px 2px 7px 1px rgba(0, 0, 0, 0.62); }

.btn__red:hover i {
  background: url("../images/arrow_red.png") center center no-repeat;
  width: 13px;
  height: 13px;
  background-size: contain; }

.btn__yellow:hover {
  background-color: white;
  color: #f6bf02; }

.btn__yellow:hover i {
  background: url("../images/arrow_yellow.png") center center no-repeat;
  width: 13px;
  height: 13px;
  background-size: contain; }

/*************************HEADER******************************/
/************************************************************/
#header {
  height: 100px; }

.header__wrapper {
  background-color: #dedede;
  opacity: 0.9;
  width: 100%;
  z-index: 999999;
  position: fixed; }

.navigation {
  position: relative; }

.logo__image {
  width: 110px;
  height: 110px;
  float: left;
  display: table;
  position: absolute;
  bottom: -10px; }
  .logo__image img {
    width: 100%;
    display: table-cell;
    vertical-align: middle; }

.logo__title {
  width: 200px;
  height: 100px;
  float: left;
  margin-left: 120px;
  display: table; }
  .logo__title img {
    width: 100%;
    display: table-cell;
    vertical-align: middle; }

.middle__text__mobile {
  display: none; }

.middle__text {
  width: 490px;
  height: 100px;
  margin: 0 28px;
  float: left;
  display: table; }
  .middle__text p {
    color: #666666;
    display: table-cell;
    vertical-align: middle;
    line-height: 22px; }

.right__text {
  width: 100px;
  height: 100px;
  float: left;
  display: table; }
  .right__text p {
    display: table-cell;
    vertical-align: middle;
    color: red; }

.phone__shadow {
  width: 100%;
  height: 4px;
  background-color: black;
  opacity: 0.6; }

/*************************SECTION__ONE******************************/
/******************************************************************/
.section__one__wrapper {
  background-color: #00c0ff;
  border-top: 1px solid #808080;
  border-bottom: 1px solid #d6d6d6;
  padding-top: 30px;
  margin-bottom: -5px; }

.align__left {
  width: 290px;
  padding-left: 40px;
  position: relative;
  float: left; }
  .align__left img {
    width: 100%; }

.section__text {
  margin-top: 19px;
  margin-left: 40px;
  font-size: 22px; }

.align__right {
  width: 630px;
  float: left; }

.text__areas {
  width: 560px;
  margin-top: 30px; }

.text__area {
  padding-left: 40px; }

.text__area h2 {
  padding-bottom: 15px;
  text-shadow: 0px 3px 5px black; }
.text__area p {
  padding-left: 20px; }

.padding__bottom__one {
  padding-bottom: 67px; }

.padding__bottom__two {
  padding-bottom: 62px; }

.padding__bottom__three {
  padding-bottom: 32px; }

/*************************SECTION__TWO******************************/
/******************************************************************/
.section__two__wrapper {
  padding-top: 16px;
  padding-bottom: 25px;
  background-color: #d72d2e;
  border-top: 1px solid #808080;
  border-bottom: 1px solid #d6d6d6; }

.section__two__wrapper .align__left {
  width: 306px; }

.image__one {
  padding-bottom: 24px; }

.section__two__wrapper .section__text {
  padding-top: 15px; }

.section__two__wrapper .text__areas {
  margin-top: 35px; }

.blue__image {
  padding: 0 10px;
  margin-left: -7px; }

/*************************SECTION__THREE******************************/
/******************************************************************/
.section__three__wrapper {
  padding-top: 20px;
  background-color: #f6bf02;
  border-top: 1px solid #808080;
  border-bottom: 1px solid #d6d6d6;
  margin-bottom: -5px; }

.section__three__wrapper .section__text {
  padding-top: 8px; }

.section__three__wrapper .text__areas {
  margin-top: 40px; }

.green__image {
  background: url("../images/header_3.png");
  width: 407px;
  height: 80px;
  margin-left: -25px;
  margin-bottom: 8px; }

.section__three__wrapper .section__text {
  margin-left: 113px; }

/*************************SECTION__FOUR******************************/
/*********************************************************************/
.section__four__wrapper {
  background-color: white;
  height: 300px; }

/*************************TABLET******************************/
/************************************************************/
@media only screen and (min-width: 768px) and (max-width: 999px) {
  .container {
    width: 767px; }

  #header {
    height: 85px; }

  .logo__image {
    width: 90px;
    height: 90px;
    bottom: -8px; }

  .logo__title {
    width: 154px;
    height: 85px;
    margin: 0 0 0 100px; }

  .middle__text {
    width: 394px;
    height: 85px;
    margin: 0 5px; }
    .middle__text p {
      font-size: 14px;
      line-height: 20px; }

  .right__text {
    width: 100px;
    height: 85px; }

  /*************************SECTION__ONE******************************/
  /******************************************************************/
  .align__left {
    width: 222px; }

  .align__right {
    width: 480px; }

  .section__text {
    margin-top: 10px;
    margin-left: 40px;
    font-size: 19px; }

  .padding__bottom__one {
    padding-bottom: 43px; }

  .text__areas {
    width: 450px;
    margin-top: 45px; }

  .text__area h2 {
    padding-bottom: 10px; }

  .text__area__title {
    font-size: 21px; }

  .first__area__paragraph {
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 1px; }

  .second__area__paragraph {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px; }

  .more__info {
    margin: 33px 0 0 110px; }

  /*************************SECTION__TWO******************************/
  /******************************************************************/
  .section__two__wrapper {
    height: 450px; }

  .padding__bottom__two {
    padding-bottom: 50px; }

  .section__two__wrapper .align__left {
    width: 237px; }

  .section__two__wrapper .text__areas {
    margin-top: 25px; }

  /*************************SECTION__THREE******************************/
  /******************************************************************/
  .padding__bottom__three {
    padding-bottom: 24px; }

  .green__image {
    width: 312px;
    height: 60px; }

  .section__three__wrapper .section__text {
    margin-left: 100px; }

  .section__three__wrapper .text__areas {
    margin-top: 37px; } }
/*************************MOBILE***********************************/
/******************************************************************/
@media only screen and (max-width: 767px) {
  main {
    margin-top: 26px; }

  .header__wrapper {
    border-bottom: 1px solid black;
    position: static; }

  .container {
    width: auto;
    padding: 0 15px;
    margin: 0 auto; }

  .header__wrapper {
    height: 49px; }

  .logo__image {
    width: 55px;
    height: 55px;
    position: static; }

  .logo__title {
    width: 80px;
    height: 30px;
    margin-left: 0; }

  .middle__text {
    display: none; }

  .middle__text__mobile__width {
    background-color: white;
    margin-top: -5px; }

  .middle__text__mobile {
    display: block;
    width: 290px;
    margin: 0 auto;
    padding: 20px 15px;
    background-color: white; }
    .middle__text__mobile p {
      color: #666666;
      font-size: 10px; }

  .right__text {
    height: 20px;
    float: none;
    position: absolute;
    font-size: 12px;
    text-align: left;
    right: 0;
    top: 12px; }

  /*************************SECTION__ONE******************************/
  /******************************************************************/
  .section__one__wrapper {
    padding-bottom: 20px;
    padding-top: 14px; }

  .align__left {
    max-width: 300px;
    margin: 0 auto;
    float: none;
    padding: 0; }
    .align__left .white__iphone {
      position: static;
      bottom: 0;
      margin-top: -5px; }

  .align__right {
    float: none;
    width: 100%; }

  .section__text {
    font-size: 16px;
    margin-left: 0;
    text-align: center; }

  .section__two__wrapper .text__areas {
    margin-top: 18px; }

  .section__three__wrapper .text__areas {
    margin-top: 18px; }

  .text__areas {
    width: 100%;
    margin-top: 20px; }

  .text__area {
    padding: 0 0 20px 0; }

  .text__area h2 {
    padding-bottom: 18px;
    text-align: left; }

  .text__area p {
    padding: 0; }

  .first__area__paragraph {
    text-align: left;
    font-size: 18px;
    padding-left: 5px; }

  .second__area__paragraph {
    text-align: left;
    font-size: 18px;
    padding-left: 5px; }

  .more__info {
    margin: 0 auto; }

  /*************************SECTION__TWO******************************/
  /******************************************************************/
  .section__two__wrapper {
    padding: 8px 0 32px 0; }

  .section__two__wrapper .image__two {
    margin-top: -30px; }

  .section__two__wrapper .align__left {
    width: 290px !important; }

  .section__two__wrapper .section__text {
    padding-top: 0px; }

  /*************************SECTION__THREE******************************/
  /********************************************************************/
  .section__three__wrapper {
    padding: 10px 0 13px 0;
    margin-bottom: -5px; }

  .green__image {
    width: 100%;
    margin: 0 auto; }

  .section__three__wrapper .section__text {
    margin: 0; } }

/*# sourceMappingURL=style.css.map */
